
# scheduled task
apscheduler
Django>=3.2,<4.0
django-apscheduler
django-cors-headers
django-extensions
django-filter
django-health-check
django-import-export
djangorestframework
markdown
matplotlib
nltk

pandas

#dashboard
plotly >= 4.14
psycopg2-binary>=2.8
requests
requests-toolbelt
sickle

six

# BERT-recommender
tensorflow >=2.3
transformers
uWSGI>=2.0.19,<2.1
vobject
