apscheduler
Django>=3.1.8,<3.2
django-apscheduler
django-cors-headers
django-extensions
django-filter
django-health-check
django-import-export
django-language-field
djangorestframework
markdown
matplotlib
nltk
pandas
plotly >= 4.14
psycopg2-binary>=2.8
requests
requests-toolbelt
sickle
six
tensorflow >=2.3
transformers
vobject
